body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;}

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }



body{
	background: white;
}

#container{
	width: auto;
	margin: 0px auto;
	color:#0c3c26;
}


#container a{
	color:#6a0e0e;
}

#htop{
	height: 70px;
	background: green;
	color:ghostwhite;
	padding: 30px 20px 10px 50px;
}

#htopleft{
	float: left;
	width: 30%;
	font-size: 45px;
}

#htopright{
	float: right;
	width: auto;
	font-size: 30px;
	margin-right: 20px;
}

#htopright ul{
	display: block;
}

#htopright li{
	float: right;
	margin-left: 30px;
}
#hbottom{
	height: 70px;
	background: seagreen;
	padding: 30px 20px 10px 50px;
	font-size: 45px;
}

#hbottom ul{
	display: block;
}

#hbottom li{
	margin-right: 30px;
	float: left;
}

#active{
	color:white;
}
#main{
	padding-left: 50px;
}

#main h1{
	font-size: 30px;
}

#main h2{
	font-size: 20px;
}

#main h3{
	font-size: 15px;
}
#left{
	width: 70%;
	float:left;
}

#right {
	width: auto;
	height: 300px;
	background: white;
	float:left;
}


#footer{

	text-align: center;
}